.total{
    background-color: #47DEC4;
    
}

.Titulo{
    font-family: Helvetica;
    background-color: #67A3CA;
    
}

.conteneT{
    background-size: cover;
    width: auto;
    height: 650px;
    background-color: transparent;
    background-image: url("./fondoD.jpg") ;
    background-repeat: no-repeat;

}


.contene{
    float: left;
    width: 40%;
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    text-align: center;
    
}

.conteneA{
    margin-left: 2.4%;
    width: 95%;
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    text-align: center;
    
}


.form{
    width: 70%;
    display: inline-block;
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    justify-content: center;
    text-align: center;
    
    
    
}


.footer{
    text-align: center;
}

.formD{
    display: inline-block;
    width: 90%;
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    margin-bottom: 3%;
}
.inputsFA{
    width: 40%;
    text-align: center;
    align-items: center;
    display: inline-block;
}
.selP{
    width: 40%;
    text-align: center;
    align-items: center;
    display: inline-block;
   
}

.formularioP{
    float: left;
    width: 50%;
    margin-left: 3%;
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
}

.contieneFP{
    visibility:hidden;
    transition: all 250ms ease-in-out;
    text-align: center;
    height: 30em;
    align-items: center;
    
}

.datosP{
    width: 70%;
    outline: none;
    display:  inline-block;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    justify-content: center;
    
    text-align: center;
    
}


 .ocultoF{
    display: none;
  border: 2px inset #54A3E8;
    border-radius: 15px;
    font-family: "Candara";
    margin-bottom:2px;
    text-align: center; 
 }
.mensajeF:hover .ocultoF{
    display: block;
}

.ocultoH{
    display: none;
  border: 2px inset #54A3E8;
    border-radius: 15px;
    font-family: "Candara";
    margin-bottom:2px;
    text-align: center; 
 }
.mensajeH:hover .ocultoH{
    display: block;
}

.ocultoM{
    display: none;
  border: 2px inset #54A3E8;
    border-radius: 15px;
    font-family: "Candara";
    margin-bottom:2px;
    text-align: center; 
 }
.mensajeM:hover .ocultoM{
    display: block;
}


  