.total{
    background-color: #47DEC4;
    
}

.Titulo{
    font-family: Helvetica;
    background-color: #67A3CA;
    
}

.conteneT{
    background-size: cover;
    width: auto;
    height: 650px;
    background: url("./fondoD.jpg")  no-repeat center center fixed; ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}


.contene{
    float: left;
    width: 40%;
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    text-align: center;
    
}

.conteneTabla{
    display: flex;
  justify-content: center;
  align-items: center;
    background-size: cover;
    width: auto;
    height: 650px;
    background: url("./fondoD.jpg")  no-repeat center center fixed; ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
.contieneTabla{
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 90%;
    height: 80%;
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    text-align: center;
    
     
}
.soli{
    width: 90%;
    height: 18%;
   
    float: left;
    margin-bottom: 1%;
}
.soliLabel{
    
    font-family: 'Candara';
    font-size:  x-large  ;
    text-align: left;
    
}
.soliM{
    float: left;
}
.soliL{
    margin-left: 2%;
    float: left;
}
.soliB{
    width: 15%;
    margin-left: 2%;
    float: left; 
}

.tabla{
    
    margin: auto;
    font-family: 'Candara';
    font-size:  xx-large  ;
    padding: 1.5%;
    width: 80%;
    height: 80%;
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    text-align: center;
}


.conteneA{
    margin-left: 2.4%;
    width: 95%;
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    text-align: center;
    
}


.form{
    width: 70%;
    display: inline-block;
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    justify-content: center;
    text-align: center;
    
    
    
}


.footer{
    text-align: center;
}

.formD{
    display: inline-block;
    width: 90%;
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    margin-bottom: 3%;
}
.inputsFA{
    width: 80%;
    text-align: center;
    align-items: center;
    display: inline-block;
}
.selP{
    width: 40%;
    text-align: center;
    align-items: center;
    display: inline-block;
   
}

.formularioP{
    float: left;
    width: 50%;
    margin-left: 3%;
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
}

.contieneFP{
    visibility:hidden;
    transition: all 250ms ease-in-out;
    text-align: center;
    height: 30em;
    align-items: center;
    
}

.datosP{
    width: 70%;
    outline: none;
    display:  inline-block;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    justify-content: center;
    
    text-align: center;
    
}


 .ocultoF{
    display: none;
  border: 2px inset #54A3E8;
    border-radius: 15px;
    font-family: "Candara";
    margin-bottom:2px;
    text-align: center; 
 }
.mensajeF:hover .ocultoF{
    display: block;
}

.ocultoH{
    display: none;
  border: 2px inset #54A3E8;
    border-radius: 15px;
    font-family: "Candara";
    margin-bottom:2px;
    text-align: center; 
 }
.mensajeH:hover .ocultoH{
    display: block;
}

.ocultoM{
    display: none;
  border: 2px inset #54A3E8;
    border-radius: 15px;
    font-family: "Candara";
    margin-bottom:2px;
    text-align: center; 
 }
.mensajeM:hover .ocultoM{
    display: block;
}
.leaflet-container{
    width: 97vw;
    height: 95vh;
}
.conteMap{
    padding: 1%;
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
}


.pie{
    margin-top: 1.5%;
    padding: 1.2%;
    position: static;
    display: none;
    height: 42em;
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
}

.conteneTI{
    
    background-size: cover;
    width: auto;
    height: 1000px;
    background: url("./fondoD.jpg")  no-repeat center center fixed; ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

#edades{
    margin-top: 1.5%;
    padding: 1.2%;
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
}

#visitas{
    margin-top: 1.5%;
    padding: 1.2%;
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
}

#urgencias{
    margin-top: 1.5%;
    padding: 1.2%;
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2; 
}

#tr-info{
    font-size: large;
}


  